<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818195094267-96d03e1ld160mnf6itqukg2vi06709fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818195094267-96d03e1ld160mnf6itqukg2vi06709fl</string>
	<key>API_KEY</key>
	<string>AIzaSyAv7WM57WB8HblxMIf5zkmpxoUPUELJA60</string>
	<key>GCM_SENDER_ID</key>
	<string>818195094267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egco428.nmpcd</string>
	<key>PROJECT_ID</key>
	<string>nmpcd-2cb34</string>
	<key>STORAGE_BUCKET</key>
	<string>nmpcd-2cb34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818195094267:ios:a6a9d15c728eb573</string>
	<key>DATABASE_URL</key>
	<string>https://nmpcd-2cb34.firebaseio.com</string>
</dict>
</plist>